
@font-face {  
  font-family: "Segoe UI Regular";  
  src: url('../fonts/segoeui.ttf') format('truetype'),
  url('../fonts/segoeui.eot'),
  url('../fonts/segoeui.woff') format('woff'),
  url('../fonts/segoeui.otf');
} 
@font-face {  
  font-family: "Segoe UI Bold";  
  src: url('../fonts/segoeuib.ttf') format('truetype'),
  url('../fonts/segoeuib.eot'),
  url('../fonts/segoeuib.woff') format('woff'),
  url('../fonts/segoeuib.otf');
}
p,span,div, li, a, input,select,ul,ol,body,label,input{
	font-family:Segoe UI Regular;
	font-weight:normal;
}
body,html{
	font-size:1em;
}
h1,h2{
	font-family:Segoe UI Bold;
}
h2{	
	font:1.875em Segoe UI Bold;
	color:#08344f;
}
.homePage h2{
	margin:60px 0 40px;
}
input[type=checkbox]{
	transform: scale(1.2, 1.2); 
	-moz-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);   
	-webkit-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);

}
.upper_header {	
	background:#08344f;
	color:#fff;
}
.displayNone{
	display:none;
}
.upper_header a,.upper_header button,.upper_header legend,.upper_header label{
	font-size:0.9375em ;
	font-family: Segoe UI Regular;
	color:#fff;
	font-weight:normal;
	background:#08344f;
	border:none;
}
.thumbnail{
	display:inline-block;
}
div.caption{
	text-align:center;
}
.overflow-auto{
	overflow:auto;
}
.navbar-collapse{
	padding:0px;	
}

.forAccessible li legend{
	display:inline-block;
    float: left;
	width:auto;
	padding:0;
	margin:0;
	border:none;
	margin-right:8px;
	margin-top: 5px;
}

.upper_header {
	position:relative;
	padding:8px 0;
}
.small-view-btn{
	background-color:grey;
}
.navbar-nav {
    margin:0px;
}
#accessible-panel-toggle-btn{
	background:grey url("../images/mobile-accessibility.png") center no-repeat;
	    top: -11px;
}
.img-separator{
	background:url("../images/Separator_1336px.png") no-repeat;
	width:100%;
	height:145px;
	background-size: 100% 100%;
}
.img-separator-footer{
	background:url("../images/footerimage.jpg") no-repeat;
	height:146px;
	width:100%;
	background-size: 100% 100%;
}
#searchField{
	margin-left:10px;
	padding:5px 10px;
	width:200px;
	cursor: default;
}
.glyphicon-search{
	left: 34px;
    font-size: 25px;
    top: 7px;
}
.alignLeft{
	text-align:left;
}
.navbar-nav>li>.dropdown-menu{
	width:100%;
	border:1px solid #fff;
	border-top:none;
	border-bottom:none;
	
}
.alignRight{
	text-align:right;
}
.alignCenter{
	text-align:center;
}
.upper_header div{
	padding:0;
}

.wrapper{
	position:relative;
	margin:0 auto;
	padding:0;
	
}
.lower_header{
	background: #08344f;
	opacity:0.95;
    color:#fff;
    overflow: auto;	
	font-size:0.875em;
	z-index: 1000;
}
.logo img{
	height:50px;
}
.logo{

	padding:0;
}
.searchPanel{
	padding:10px 0;
}

#searchSubmit{
	margin-top:-3px;
}
.lower_header ul{
	float:right;
}
.lower_header a{
	color:#000;
	text-decoration:underline;
	
}
#videoTranscript ul li ,#audioTranscript ul li {
	font-size:1em;
	
}
.lower_header ul li{	
	display:inline-block;
}
.homePage  h1{
	background:#0b1b32;
	color:#fff;
	margin:0;	
	padding-top: 11px;
	padding-bottom: 11px;
	font-size:1.875em;
}
.btn{
	background:#08344f;
	color:#fff;
	border-radius:0px;
	border: 1px solid #fff;
	padding: 6px 16px;
    font-size: 1em;
}
.btn:focus,.btn:active,.btn:hover{
	color:#fff;
	text-decoration:underline;
}

.navbar-default {
	margin:0;
}
.nextSection{
	background: #cc0033 url("../images/arrow_w.png") center no-repeat;
    display: inline-block;
    height: 56px;
    width: 56px;
	border-radius:40px;
    margin-top: 110px;
}

.navbar-nav>li ul{
	padding:0;
}
.navbar-nav>li ul li{
	
	border-bottom:1px solid rgb(206, 199, 199);
}
.dropdown-menu>li>a{
	padding:10px 10px;
	min-width:150px;
}	
	footer{
		background:#08344f;
		color:#fff;
		clear:both;
		overflow:auto;
		padding:25px 0;
		
	}
	.dropdown-menu{
		min-width:190px;
	}
	footer .copyright ,footer .lastUpdated{
		margin-top:20px;
	}
	footer #Knowablility_logo img{
		margin-top:10px;
	}
	footer  a{
		color:#fff;	
		text-decoration:underline;
		font-family: segoe ui Bold;
		font-size:1em;
	}
	footer ul li{
		float:left;
	}
	section .container{
		padding:0 5%;
	}
	section .container{	
		font-size:1.125em;
		color:#333333;
	}
	.donateIcon{
		background:url("../images/Donate_Icon.png") no-repeat;
	}
	.donateIcon:hover,.donateIcon:active,.donateIcon:focus{
		background:url("../images/Donate_Icon_red.png") no-repeat;
	}
	.row{
		margin-left:0;
		margin-right:0;
	}
	.innerWrapper{
		padding-left:40px;
		padding-right:40px;
	}
	.caret{
		background: url("../images/nave_arrow_b.png") no-repeat;
		border: none;
		width: 16px;
		height: 9px;
		margin-left:10px;
	}
	.thumbnailGroup{
		margin-top:40px;
	}
	.thumbnailGroup figcaption {
		font: 1.125em segoe ui Regular;
		color: #333333;
		margin-top: 10px;		
		padding: 6px 0;
	}
	.img-responsive{
		padding:0;
	}
	.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img{
		width:100%;		
	}
	.imagesContainer  img{
		height:220px;
	}
	.navbar-default .navbar-nav>li>a{
		color:#1b2228;
		font-family: segoe ui Bold;
	}
	
	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
		color:#000;
		background-color:rgba(8, 52, 79, 0.22);
	}
	
	
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	color:#000;
		background-color:rgba(8, 52, 79, 0.22);
	}
	main a{
	 text-decoration:underline;
	}
 #myCarousel  .carousel-caption p{
		color:#fff;
		
	}
	
	/* sitemap css */
	.sitemap .menu li{
		float:left;
		list-style-type: circle;
		margin:5px ;
	}
	.sitemap .menu li a{
		padding:3px;
	}
	/* .sitemap .menu .sub_menu li{
		list-style-type: square;
	} */
	.sitemap .sub_menu li{
		clear:both;
		display:block;
		
	}
	/* sitemap css */
	 button:hover,button:active,button:focus, a:hover,a:focus,a:active, input:focus,input:hover,input:active{
		background-color:#fff6d2;
		color:#000 !important; 
		cursor: pointer;		
	} 	

	#skiptocontent{
		z-index: 1001;
		position:relative;
	}
	.resizeBtn.small-font{
		font-size: 0.84em;
	}
	.resizeBtn.normal-font{
		font-size: 0.9375em;
	}
	.resizeBtn.big-font {
		font-size: 1.1em;
	}
	.imgLink {
		padding:1px;
		display: inline-block;
	}
	
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
		color: #000;
		background-color: rgba(8, 52, 79, 0.22);	
	}
	.upper_header  a{
		padding: 4px; 
		text-decoration:underline;
	}
	.navbar{
		position:inherit;
	}
	.navbar-default {
		padding-left: 0;
		background-color: #fff;	  
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a{
		color:#000;
	}
#carouselButtons  button:focus,#carouselButtons button:active,#carouselButtons button:hover,.carousel-indicators a:focus,.carousel-indicators a:active,.carousel-indicators a:hover{
	color: #fff !important;
	background-color: #08344f !important;
}

.img-separator a.nextSection:hover,.img-separator a.nextSection:active,.img-separator a.nextSection:focus{
	background:#08344f url("../images/Dropdown_arrow_white.png") center no-repeat;
}
a#Knowablility_logo:hover,a#Knowablility_logo:active,a#Knowablility_logo:focus{
	background:none;
}
a.nextSection:hover,a.nextSection:focus{
	background: #08344f url("../images/arrow_w.png") center no-repeat !important;
} 


.homePage section .thumbnailGroup a,.homePage section .container p a{
	color:#08344f;
	padding:5px;
}
a.glyphicon-play:hover,a.glyphicon-play:focus,a.glyphicon-pause:hover,a.glyphicon-pause:focus{
	background:#08344f;
	color:#fff !important ;
	text-decoration:none;
}
.searchResult{
	background:#fff;
	color:#08344f;
}

.resultText{
	margin-top:10px;
}
.breadcrumb  a{
	text-decoration:underline;
	padding:5px;
}



.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
	background: #cc0033 url("../images/active-menu-icon.png") 95% center no-repeat;
	color:#fff !important;
	}
	.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
		    color: #000;
    background-color: rgba(8, 52, 79, 0.22);
	}
a:focus {
    outline: 2px dotted black;
}
a {
    color: #0000C0;
	
}

.thumbnail{
	margin-bottom:0px;
	width:100%;
}
.caption{
	margin:10px 0;
}
.navbar{
	min-height:30px;
}
.footerLinks a{
	padding:3px;
}